@import "tailwindcss";

@theme {
  --color-primary: #004ac6;
  --color-primary-container: #2563eb;
  --color-on-primary: #ffffff;
  --color-secondary: #455f87;
  --color-secondary-container: #b5d0fd;
  --color-on-secondary-container: #3e5980;
  --color-surface: #f7f9fb;
  --color-surface-dim: #d8dadc;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;
  --color-surface-variant: #e0e3e5;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #434655;
  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;
  --color-slate-bg: #1e293b;
  --color-border-subtle: #f1f5f9;
  --color-success-emerald: #059669;
  --color-warning-amber: #d97706;
  --color-error-red: #e11d48;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-tertiary-fixed: #dae2fd;
  --color-on-tertiary-fixed: #131b2e;
  --color-primary-fixed: #dbe1ff;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
